{% extends 'layout.html' %}

{% block css %}{% endblock %}

{% block body %}

<div class="container mt-5">
    <p class="h1 text-center text-light">Indian Startups Data Analysis</p>
    
    <div class="card col-md-10">
        <div class="card-body">
            <div class="text-center">
                <img src="static/wc.png" class="card-img-top">
            </div>
        </div>
    </div>

</div>

{% endblock %}
{% block js %}
<script>
    $(document).ready(() => {

    });
</script>
{% endblock %}
